doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/style.css")
        link(rel="stylesheet" href="../fonts/stylesheet.css")
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        script(src="../script/script.dev.js" defer) 

    title Воронка
    body 
        section.fst-color-section
            .grid-section--container
                img.camera-top(src="../img/camera-top.png")
                h1(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")  КТО УМЕЕТ
                    br
                    | ОКАЗЫВАТЬ УСЛУГИ?
                img.urgant(src="../img/urgand-people.png")
                img.camera-bottom(src="../img/camera-bottom.png")

        section.sec-color-section
            h2(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")  КТО УМЕЕТ 
                span ПРОДАВАТЬ
                br  
                | СВОИ УСЛУГИ?
            img.urgant(src="../img/urgand-people2.png")

        section.thd-color-section
            h3(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")  КАК ТЫ ЭТО
                br
                |ДЕЛАЕШЬ,МАСТЕР?

        section.frt-colot-section
            h4(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0") 
                |Я ВЗЯЛ ДРУГАНЮ,
                br
                |СОБРАЛ ЕМУ АВТОВОРОНКУ
            h5(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")              
                |И МЫ ЗАБИЛИ ЕГО ЗАКАЗАМИ
                br
                span НА ТРИ МЕСЯЦА ВПЕРЕД
            .msg-container
                .msg-card(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/dollar.png")
                            span.title-text КОНТОРА ГРЕФА
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Зачисление Банк Онлайн
                            p.msg-text
                                | Зачисление: 30 000 ₽
                                br
                                | Баланс: 382 487,42 ₽ 
                        img.alternative-img(src="../img/white-dollar.png")
                .msg-card(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/chat.png")
                            span.title-text ЧЕКАВО? 
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Александр Громов
                            p.msg-text
                                | Добрый день. Готов перевести оплату,
                                br
                                | скиньте реквизиты
                        img.alternative-img(src="../img/white-chat.png")
                .msg-card(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/telega.png")
                            span.title-text ТЕЛЕГА
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Мария
                            p.msg-text
                                | Здравствуйте, мы согласны. Куда
                                br
                                | переводить деньги?
                        img.alternative-img(src="../img/white-telega.png")
        section.fth-color-section
            .add-cont 
                img.camera-top(src='../img/camera-top.png')
                h6(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")  А ЕЩЕ МЫ ОТСНЯЛИ ПРО
                    br
                    | ЭТО РЕАЛИТИ-ШОУ

                img(src="../img/bg-img-3.png")
                img.camera-bottom(src="../img/camera-bottom.png")
                img.blured-rect(src="../img/rect.png")
        section.last-section
            p.h7(data-aos="fade-in" data-aos-duration="500" data-aos-delay="0")  ХОЧЕШЬ ГЛЯНУТЬ КАК СОЗДАЮТСЯ 
                br
                | РОБОТЫ, КОТОРЫЕ 
                span САМИ ПРОДАЮТ
                br 
                span ЛЮБЫЕ ТОВАРЫ И УСЛУГИ?
            div
                span.look-title МИЛОСТИ ПРОШУ
                a.look.h7(href="#") СМОТРЕТЬ ВОРОНКУ    


