doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/style.css")
        link(rel="stylesheet" href="../fonts/stylesheet.css")
        script(src="../script/script.dev.js" defer) 
        title Воронка
    body 
        section.fst-color-section
            .grid-section--container
                img.camera-top-left(src="../img/camera-top-left.png")
                img.camera-top-right(src="../img/camera-top-right.png")
                img.urbant(src="../img/urban.png")
                h1  КТО УМЕЕТ
                    br
                    | ОКАЗЫВАТЬ УСЛУГИ?
                img.urgant(src="../img/urgand-people.png")
                img.camera-bottom-left(src="../img/camera-bottom-left.png")
                img.camera-bottom-right(src="../img/camera-bottom-right.png")

        section.sec-color-section
            h2  КТО УМЕЕТ 
                span ПРОДАВАТЬ
                br  
                | СВОИ УСЛУГИ?
            img.urgant(src="../img/urgand-people2.png")

        section.thd-color-section
            h3 КАК ТЫ ЭТО
                br
                |ДЕЛАЕШЬ,МАСТЕР?
            img.chel(src="../img/chel.png")

        section.frt-colot-section
            h4 
                |Я ВЗЯЛ ДРУГАНЮ,
                br
                |СОБРАЛ ЕМУ АВТОВОРОНКУ
            h5              
                |И МЫ ЗАБИЛИ ЕГО ЗАКАЗАМИ
                br
                span НА ТРИ МЕСЯЦА ВПЕРЕД
            img(src="../img/bg-img-2-1.png", alt="")
            .msg-container
                .msg-card
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/dollar.png")
                            span.title-text КОНТОРА ГРЕФА
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Зачисление Банк Онлайн
                            p.msg-text
                                | Зачисление: 30 000 ₽
                                br
                                | Баланс: 382 487,42 ₽ 
                        img.alternative-img(src="../img/white-dollar.png")
                .msg-card
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/chat.png")
                            span.title-text ЧЕКАВО? 
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Александр Громов
                            p.msg-text
                                | Добрый день. Готов перевести оплату,
                                br
                                | скиньте реквизиты
                        img.alternative-img(src="../img/white-chat.png")
                .msg-card
                    .msg-title
                        .title-sendler
                            img.title-img(src="../img/telega.png")
                            span.title-text ТЕЛЕГА
                        span.title-time СЕЙЧАС
                    .msg-body
                        .msg-info
                            span.msg-author Мария
                            p.msg-text
                                | Здравствуйте, мы согласны. Куда
                                br
                                | переводить деньги?
                        img.alternative-img(src="../img/white-telega.png")
        section.fth-color-section
            .add-cont 
                img.camera-top-left(src="../img/camera-top-left.png")
                img.camera-top-right(src="../img/camera-top-right.png")
                h6  А ЕЩЕ МЫ ОТСНЯЛИ ПРО
                    br
                    | ЭТО РЕАЛИТИ-ШОУ

                img(src="../img/bg-img-3.png")
                img.camera-bottom-left(src="../img/camera-bottom-left.png")
                img.camera-bottom-right(src="../img/camera-bottom-right.png")
                img.blured-rect(src="../img/rect.png")
        section.last-section
            img.light-r(src="../img/light-r.png")
            p.h7  ХОЧЕШЬ ГЛЯНУТЬ КАК СОЗДАЮТСЯ 
                br
                | РОБОТЫ, КОТОРЫЕ 
                span САМИ ПРОДАЮТ
                br 
                span ЛЮБЫЕ ТОВАРЫ И УСЛУГИ?
            img.optimus(src="../img/optimus.png")
            div
                span.look-title МИЛОСТИ ПРОШУ
                a.look.h7(href="#") СМОТРЕТЬ ВОРОНКУ    


